# IDEs
.idea
.vscode

# Build Files
build
dist

# Binary files
*.pyc
*.egg-info
__pycache__

*.so
*.o

# FS relics
core*
.fuse_hidden*

# ida stuff
*.id0
*.id1
*.id2
*.nam
*.til
*.idb

# fuzzware project directories
fuzzware-project*
